
<!DOCTYPE html>

<html ng-app="app">
	<head>
		<title>Tinder Webapp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<link rel="stylesheet" href="styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
		<script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js'></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
		<script src="./js/scrollMagicInit.js"></script>
		<script src="./js/app.js"></script>
	</head>
	<body ng-controller="mainCtrl">
		<div class="main">
			<div class="window">
				<div class="w3-bar w3-light-grey w3-row">
					<div class="w3-third window-btn flex row-valign">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="w3-third w3-center">
						<a href="#" class="w3-bar-item w3-button w3-green"><i class="material-icons">whatshot</i></a>
						<a href="#" class="w3-bar-item w3-button"><i class="material-icons">message</i></a>
						<a href="#" class="w3-bar-item w3-button"><i class="material-icons">person_pin</i></a>

					</div>
					<div class="w3-third">
						<a href="#" class="w3-bar-item w3-button w3-right"><i class="material-icons">account_circle</i></a>
					</div>

				</div>
				<section class="window-content" >
					<div class="slider-wrap flex" style="transform: translateX(-{{translatePercent}}%)">
						<div class="slider" ng-class="{'slider-active' : $index == actualUser}"  ng-repeat="user in genreSelected">
							<div class="user-data flex">
								<div>
									<h4>{{user.name}}, {{user.age}}</h4>
									<p>{{user.from}}</p>
									<p>{{user.distance}}</p>
								</div>
								<button class="w3-dropdown-hover">
									<i class="fa fa-spotify" aria-hidden="true"></i>
									<span class="w3-dropdown-content w3-green w3-padding">Hello World!</span>
								</button>
								<button ng-click="instagramView = !instagramView">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</button>
								<button>
									<i class="material-icons">share</i>
								</button>
							</div>

							<img ng-show="selectedImgSrc == src" ng-repeat="src in user.img" class="mySlides" ng-src="{{src}}" style="width:100%">
							<div class="instagram" ng-show="instagramView">
								kb
							</div>

							<div class="next-prev flex" ng-show="!instagramView">
								<div class="w3-hover-text-khaki" ng-click="prevImg(user.img)">
									<i class="material-icons">chevron_left</i>
								</div>
								<div class="w3-hover-text-khaki" ng-click="nextImg(user.img)">
									<i class="material-icons w3-right">chevron_right</i>
								</div>
							</div>

							<div class="controls w3-padding-left w3-padding-right" ng-class="{'only-buttons' : instagramView}">
								<button class="w3-btn w3-btn-floating w3-white" ng-click="nextUser()">
									<i class="material-icons">clear</i>
								</button>
								<button class="w3-btn w3-btn-floating w3-white" ng-click="nextUser()">
									<i class="material-icons w3-text-pink">favorite</i>
								</button>
								<button class="w3-btn w3-btn-floating w3-white" ng-click="nextUser()">
									<i class="material-icons w3-text-amber">star</i>
								</button>
								<p ng-show="!instagramView">{{user.desc}}</p>

								<span ng-show="!instagramView" ng-repeat="src in user.img" ng-class="{'indicator-active' : src == selectedImgSrc}" class="indicators w3-hover-white" ng-click="setImg(src)"></span>
							</div>
						</div>
					</div>

				</section>
			</div>
		</div>


	</body>
<script>
//        var scene = new ScrollMagic.Scene({
//            triggerElement: ".content", duration: "100%"})
//        .setTween(".caca", 0.5, {backgroundColor: "green", scale: 2.5})
//        .addIndicators({name: "1 (duration: 0)"})
//        .addTo(controller);

//         var scene = new ScrollMagic.Scene({
//             triggerElement: ".scs-parallax3", duration:"40%", triggerHook: '0.50' })
//         .setTween(".scs-parallax3-img03", 0.5, {top:"-0%"})
// //        .addIndicators({name: "1 (duration: 0)"})
//         .addTo(controller);

//         var scene = new ScrollMagic.Scene({
//             triggerElement: ".scs-parallax3", duration:"40%", triggerHook: '0.45' })
//         .setTween(".scs-parallax3-img02", 0.5, {top:"0%"})
//                 .addIndicators({name: "1 (duration: 0)"})
//         .addTo(controller);

//         var scene = new ScrollMagic.Scene({
//             triggerElement: ".trigger", duration: "100%",  triggerHook: 'onCenter'})
//         .setTween(".scs-parallax3-img01", 0.5, {top:"50%"})
//         //        .addIndicators({name: "1 (duration: 0)"})
//         .addTo(controller);


</script>

<script>
  // ar slideIndex = 1;
  // howDivs(slideIndex);
  //
  // unction plusDivs(n) {
  //  showDivs(slideIndex += n);
  // }
  //
  // function currentDiv(n) {
  //  showDivs(slideIndex = n);
  // }
  //
  // function showDivs(n) {
  //  var i;
  //  var x = document.getElementsByClassName("mySlides");
  //  var dots = document.getElementsByClassName("indicators");
  //  if (n > x.length) {slideIndex = 1}
  //   if (n < 1) {slideIndex = x.length}
  // 	  for (i = 0; i < x.length; i++) {
  // 	   x[i].style.display = "none";
  //    }
  //    for (i = 0; i < dots.length; i++) {
  // 	   dots[i].className = dots[i].className.replace(" w3-white", "");
  //    }
  //    x[slideIndex-1].style.display = "block";
  //    dots[slideIndex-1].className += " w3-white";
  //   }
   </script>
   </html>
